@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.novedades-titulo {
  background-color: #f3722c;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
}
@media (min-width: 768px) {
  .novedades-titulo {
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    padding: 13px;
  }
}
@media (min-width: 1200px) {
  .novedades-titulo {
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
    padding: 16px;
  }
}

.bc-fondo {
  background-color: #e85d04;
}

.nav-texto {
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: uppercase;
  letter-spacing: none;
  text-align: center;
  margin-top: 50px;
  line-height: 50px;
}
@media (min-width: 768px) {
  .nav-texto {
    font-size: 1.438rem;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .nav-texto {
    font-size: 1.563rem;
  }
}

.modal-title {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
}

.acceder-form input {
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #292525;
  text-shadow: none;
  text-transform: none;
  letter-spacing: 0.2rem;
  text-align: center;
  border-radius: 0;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin: 10px 0;
  border-bottom: 1px solid #a9a9a9;
  padding: 5px 10px;
  caret-color: #e85d04;
}
.acceder-form input:focus {
  box-shadow: inherit;
}

.acceder-form i {
  font-size: 35px;
  margin-right: 10px;
}

.portada {
  height: 70vh;
  background-image: url(../assets/img/fondos/fondo-1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portada-titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: none;
  letter-spacing: 0.1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .portada-titulo {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .portada-titulo {
    font-size: 3rem;
  }
}
.portada-parrafo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: none;
  letter-spacing: 0.1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .portada-parrafo {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .portada-parrafo {
    font-size: 2.3rem;
  }
}
.portada-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: uppercase;
  letter-spacing: none;
  text-align: center;
  border: 2px solid #ff5400;
  background-color: #ff5400;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.boton {
  padding: 1.5rem 5rem;
  background: #ff5400;
  border: 2px solid #ff5400;
  cursor: pointer;
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .boton {
    padding: 1.8rem 5.5rem;
  }
}
@media (min-width: 1200px) {
  .boton {
    padding: 2rem 6rem;
  }
}
.boton::before {
  content: "Registrate";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  transition: 0.3s ease;
}
@media (min-width: 768px) {
  .boton::before {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .boton::before {
    font-size: 1.5rem;
  }
}
.boton::after {
  content: "¡Gratis!";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  transition: 0.3s ease;
}
@media (min-width: 768px) {
  .boton::after {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .boton::after {
    font-size: 1.5rem;
  }
}
.boton:hover::before {
  transform: translate(-50%, -50%) scale(3);
  opacity: 0;
}
.boton:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.boton:hover {
  border: 2px solid #0d6efd;
  background: #0d6efd;
  transition: 0.3s ease;
}

/*# sourceMappingURL=styles.css.map */
