@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.preguntas-titulo, .novedades-titulo {
  background-color: #f3722c;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
}
@media (min-width: 768px) {
  .preguntas-titulo, .novedades-titulo {
    font-size: 1.9rem;
    letter-spacing: 0.2rem;
    padding: 13px;
  }
}
@media (min-width: 1200px) {
  .preguntas-titulo, .novedades-titulo {
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
    padding: 16px;
  }
}

.novedades-titulo-producto {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #292525;
  text-shadow: 0.1rem 0.1rem 0.1rem #4b4b4b;
  text-transform: uppercase;
  letter-spacing: none;
  text-align: center;
}
@media (min-width: 768px) {
  .novedades-titulo-producto {
    font-size: 1.4rem;
  }
}
@media (min-width: 1200px) {
  .novedades-titulo-producto {
    font-size: 1.6rem;
  }
}

.novedades-precio {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #292525;
  text-shadow: 0.1rem 0.1rem 0.1rem #4b4b4b;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .novedades-precio {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .novedades-precio {
    font-size: 1.5rem;
  }
}

.ayuda, .redes-titulo {
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .ayuda, .redes-titulo {
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .ayuda, .redes-titulo {
    font-size: 1.438rem;
  }
}

.bc-fondo {
  background-color: #e85d04;
}

.nav-texto {
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: uppercase;
  letter-spacing: none;
  text-align: center;
  margin-top: 50px;
  line-height: 50px;
}
@media (min-width: 768px) {
  .nav-texto {
    font-size: 1.438rem;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .nav-texto {
    font-size: 1.563rem;
  }
}

.modal-title {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.1rem;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
}

.acceder-form input {
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #292525;
  text-shadow: none;
  text-transform: none;
  letter-spacing: 0.2rem;
  text-align: center;
  border-radius: 0;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  margin: 10px 0;
  border-bottom: 1px solid #a9a9a9;
  padding: 5px 10px;
  caret-color: #e85d04;
}
.acceder-form input:focus {
  box-shadow: inherit;
}

.acceder-form i {
  font-size: 2.188rem;
  margin-right: 10px;
}

.contacto-formulario input,
.contacto-formulario textarea {
  border-radius: 7px;
  border: none;
  height: 40px;
  padding: 5px 10px;
  caret-color: #e85d04;
}
.contacto-formulario input:active, .contacto-formulario input:focus,
.contacto-formulario textarea:active,
.contacto-formulario textarea:focus {
  outline: none;
}

.contacto-formulario textarea {
  height: auto;
  resize: none;
}

.registro-formulario input {
  font-family: "Roboto Slab", serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #292525;
  text-shadow: none;
  text-transform: none;
  letter-spacing: 0.2rem;
  text-align: center;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #797979;
  margin: 10px 30px;
  padding: 5px 10px;
  caret-color: #e85d04;
}
@media (min-width: 768px) {
  .registro-formulario input {
    font-size: 1.438rem;
  }
}
.registro-formulario input:active, .registro-formulario input:focus {
  outline: none;
}

.cont-checkbox-1,
.cont-checkbox-2 {
  text-align: center;
}

.novedades-producto {
  margin: 15px;
  width: 350px;
  height: 490px;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
  display: block;
  justify-content: center;
  align-items: center;
  background: #ced4da;
  transition: all 600ms ease-in-out;
}
@media (min-width: 768px) {
  .novedades-producto {
    width: 380px;
    height: 510px;
  }
}
@media (min-width: 1200px) {
  .novedades-producto {
    width: 400px;
    height: 570px;
  }
  .novedades-producto:hover {
    transform: translateY(-0.35rem) scale(1.02);
    box-shadow: 0 1px 10px 1px rgb(3, 3, 3);
  }
}

.novedades-img {
  width: 350px;
  height: 350px;
}
@media (min-width: 768px) {
  .novedades-img {
    width: 380px;
    height: 360px;
  }
}
@media (min-width: 1200px) {
  .novedades-img {
    width: 400px;
    height: 400px;
  }
}

.accordion-button {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .accordion-button {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .accordion-button {
    font-size: 1.4rem;
  }
}
.accordion-button:not(.collapsed) {
  color: inherit;
  background: #ff5400;
  color: #fff;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0%) invert(100%);
}
.accordion-button:focus {
  box-shadow: inherit;
}

.acordeon-pregunta {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .acordeon-pregunta {
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .acordeon-pregunta {
    font-size: 1.4rem;
  }
}

.acordeon-respuesta {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .acordeon-respuesta {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .acordeon-respuesta {
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  .contacto-titulo {
    grid-area: titulo;
  }
  .contacto-detalles {
    grid-area: detalles;
  }
  .contacto-formulario {
    grid-area: formulario;
  }
  .contacto-redes {
    grid-area: redes;
  }
  .contacto {
    grid-template: "titulo   formulario" auto "detalles formulario" 1fr "redes    formulario" auto/1fr 1fr;
    align-items: start;
  }
}

@media (min-width: 1200px) {
  .registro-titulo {
    grid-area: titulo;
  }
  .registro-detalles {
    grid-area: detalles;
  }
  .registro-form {
    grid-area: formulario;
  }
  .registro-redes {
    grid-area: redes;
  }
  .registro {
    grid-template: "titulo      titulo" auto "formulario  redes" auto/1fr 1fr;
    align-items: start;
  }
}

.bc-footer {
  background-color: #f48c06;
}

.fb {
  font-size: 35px;
}

.tw {
  font-size: 35px;
}

.yt {
  font-size: 35px;
}

.it {
  font-size: 35px;
}

.localizacion a {
  font-family: "Roboto Slab", serif;
  font-size: 1.438rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  line-height: 50px;
}
.localizacion a i {
  color: #fff;
  font-size: 30px;
}
@media (min-width: 1200px) {
  .localizacion a i:hover {
    color: #cd201f;
    transition: 0.3s ease-in-out;
  }
}

.ayuda-parrafo {
  font-family: "Roboto Slab", serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: uppercase;
  letter-spacing: none;
  text-align: center;
  line-height: 50px;
}
@media (min-width: 768px) {
  .ayuda-parrafo {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .ayuda-parrafo {
    font-size: 16px;
  }
}

.marca,
a {
  color: #fff;
  font-family: "Roboto Slab", serif;
}

.portada {
  height: 70vh;
  background-image: url(../assets/img/fondos/fondo-1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portada-titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: none;
  letter-spacing: 0.1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .portada-titulo {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .portada-titulo {
    font-size: 3rem;
  }
}
.portada-parrafo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: none;
  letter-spacing: 0.1rem;
  text-align: center;
}
@media (min-width: 768px) {
  .portada-parrafo {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .portada-parrafo {
    font-size: 2.3rem;
  }
}
.portada-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.novedades-art {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 500px) {
  .novedades-art {
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow: auto;
  }
}
@media (min-width: 1200px) {
  .novedades-art {
    flex-wrap: wrap;
    flex-direction: unset;
    justify-content: center;
  }
}
.novedades-cont-boton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto {
  background-color: #f3722c;
  border-radius: 14px;
  padding: 25px;
  display: grid;
  gap: 25px;
  color: white;
  margin-top: 10px;
}
.contacto p, .contacto label, .contacto ul {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: none;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .contacto p, .contacto label, .contacto ul {
    font-size: 1.3rem;
  }
}
.contacto-titulo {
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .contacto-titulo {
    font-size: 2.1rem;
  }
}
@media (min-width: 1200px) {
  .contacto-titulo {
    font-size: 2.5rem;
  }
}
.contacto-detalles, .contacto-formulario {
  display: grid;
  gap: 20px;
}
.contacto-formulario-grupo {
  display: grid;
  gap: 3px;
}
.contacto-redes-cont {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.contacto-redes-iconos i {
  font-size: 30px;
}
@media (min-width: 768px) {
  .contacto-redes-iconos i {
    font-size: 35px;
  }
}

.registro {
  display: grid;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .registro {
    font-size: 20px;
    gap: 10px;
  }
}
.registro-titulo {
  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #797979;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .registro-titulo {
    font-size: 2.188rem;
  }
}
.registro-formulario {
  display: grid;
  gap: 20px;
  width: auto;
  height: auto;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
}
.registro-formulario-grupo {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.registro label {
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: #292525;
  text-shadow: none;
  text-transform: none;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  .registro label {
    font-size: 1rem;
  }
}
.registro-redes-titulo {
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.registro-redes {
  padding: 30px;
  display: grid;
  background-image: linear-gradient(to bottom right, #1ab6b6, #4cac6e);
  gap: 25px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 1200px) {
  .registro-redes {
    padding: 140px 30px;
  }
}
.registro-redes a i {
  position: absolute;
  top: 12px;
  left: 12px;
}

.btn-primary {
  font-family: "Roboto Slab", serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  text-transform: uppercase;
  letter-spacing: none;
  text-align: center;
  border: 2px solid #ff5400;
  background-color: #ff5400;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.boton {
  padding: 1.5rem 5rem;
  background: #ff5400;
  border: 2px solid #ff5400;
  cursor: pointer;
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .boton {
    padding: 1.8rem 5.5rem;
  }
}
@media (min-width: 1200px) {
  .boton {
    padding: 2rem 6rem;
  }
}
.boton::before {
  content: "Registrate";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  transition: 0.3s ease;
}
@media (min-width: 768px) {
  .boton::before {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .boton::before {
    font-size: 1.5rem;
  }
}
.boton::after {
  content: "¡Gratis!";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  transition: 0.3s ease;
}
@media (min-width: 768px) {
  .boton::after {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .boton::after {
    font-size: 1.5rem;
  }
}
.boton:hover::before {
  transform: translate(-50%, -50%) scale(3);
  opacity: 0;
}
.boton:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.boton:hover {
  border: 2px solid #0d6efd;
  background: #0d6efd;
  transition: 0.3s ease;
}

.novedades-boton {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #4b4b4b;
  text-transform: uppercase;
  letter-spacing: none;
  text-align: center;
  padding: 0.8rem 2rem;
  background: #ff5400;
  border: 2px solid #ff5400;
  cursor: pointer;
  border-radius: 0.3rem;
}
@media (min-width: 768px) {
  .novedades-boton {
    padding: 0.9rem 2.1rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .novedades-boton {
    padding: 1rem 2.3rem;
    font-size: 1.4rem;
  }
  .novedades-boton:hover {
    border: 2px solid #0d6efd;
    background: #0d6efd;
    transition: 0.3s;
    color: #fff;
    transition: 0.3s ease-in-out;
  }
}

.fb, .r-fb {
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
}
@media (min-width: 1200px) {
  .fb:hover, .r-fb:hover {
    color: #3b5998;
    transition: 0.3s ease-in-out;
  }
}

.tw, .r-tw {
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
}
@media (min-width: 1200px) {
  .tw:hover, .r-tw:hover {
    color: #55acee;
    transition: 0.3s ease-in-out;
  }
}

.yt {
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
}
@media (min-width: 1200px) {
  .yt:hover {
    color: #cd201f;
    transition: 0.3s ease-in-out;
  }
}

.it, .r-it {
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
}
@media (min-width: 1200px) {
  .it:hover, .r-it:hover {
    color: #e4405f;
    transition: 0.3s ease-in-out;
  }
}

.r-wt {
  color: #fff;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
}
@media (min-width: 1200px) {
  .r-wt:hover {
    color: #43d854;
    transition: 0.3s ease-in-out;
  }
}

.contacto-formulario-submit {
  width: 100%;
  height: 50px;
  background-color: #292525;
  border-radius: 7px;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
}
.contacto-formulario-submit:hover {
  background-color: #0d6efd;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
  border: 1px solid #fff;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.registro-formulario-submit {
  width: 100%;
  height: 50px;
  background-color: #ff5400;
  border-radius: 7px;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.1rem #333;
  transition: 0.5s ease-in-out;
}
@media (min-width: 1200px) {
  .registro-formulario-submit:hover {
    background-color: #0d6efd;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
  }
}

.registro-redes a {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin: 15px 0;
  padding: 10px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
}
@media (min-width: 768px) {
  .registro-redes a {
    font-size: 1.125rem;
    padding: 13px;
    margin: 12px 0;
  }
  .registro-redes a i {
    font-size: 1.25rem;
  }
}

.fb-r {
  background: #3b5998;
  border-style: none;
  color: #fff;
  text-align: center;
  transition: 0.5s ease-in-out;
}
@media (min-width: 1200px) {
  .fb-r:hover {
    background: #fff;
    color: #3b5998;
    transition: 0.5s ease-in-out;
  }
}

.tw-r {
  background: #55acee;
  border-style: none;
  color: #fff;
  text-align: center;
  transition: 0.5s ease-in-out;
}
@media (min-width: 1200px) {
  .tw-r:hover {
    background: #fff;
    color: #55acee;
    transition: 0.5s ease-in-out;
  }
}

.gg-r {
  background: #cd201f;
  border-style: none;
  color: #fff;
  text-align: center;
  transition: 0.5s ease-in-out;
}
@media (min-width: 1200px) {
  .gg-r:hover {
    background: #fff;
    color: #cd201f;
    transition: 0.5s ease-in-out;
  }
}

.it-r {
  background: #e4405f;
  border-style: none;
  color: #fff;
  text-align: center;
  transition: 0.5s ease-in-out;
}
@media (min-width: 1200px) {
  .it-r:hover {
    background: #fff;
    color: #e4405f;
    transition: 0.5s ease-in-out;
  }
}

/*# sourceMappingURL=styles.css.map */
