$color-principal: #e85d04;

$color-secundario: #f48c06;

$color-letra: #ffffff;

$color-letra-art: #292525;

$sombra-letra: .1rem .1rem .1rem #333;

$sombra-letra-btn: .1rem .1rem .1rem #4b4b4b;

$sombra-letra-art: 1px 2px 3px rgba(0,0,0,0.41);

$color-boton: #ff5400;

$color-hover: #1D3557;

$color-titulo: #f3722c;

$color-articulo: #ced4da;

$titulo-registro: #797979;

//Color Redes
$redes: (
    "redes": #fff,

    "facebook": #3b5998,

    "twitter": #55acee,

    "instagram": #e4405f,

    "youtube": #cd201f,

    "whatsapp": #43d854
    );

//Color Caterorias
$categorias: (
    "estrategia": #00378a,

    "accion": #9f2020,

    "simulacion": #457b9d,

    "aventura": #7b31c5,

    "fps": #213974,

    "rpg": #24b078,

    "single-player": #343a40,

    "multiplayer": #fca311
);

//Color Stock
$stock: (
    "poco": #ca6702,

    "sin": #e13030,

    "oferta": #ff5400
);

//Fuentes
$fuente-principal: 'Roboto Slab', serif;

$fuente-secundaria: 'Montserrat', sans-serif;

$fuente-articulo: 'Noto Sans', sans-serif;

$fuente-titulo: 'Lato', sans-serif;