$color-principal: #e85d04;

$color-secundario: #f48c06;

$color-letra: #fff;

$color-letra-art: #292525;

$sombra-letra: .1rem .1rem .1rem #333;

$sombra-letra-btn: .1rem .1rem .1rem #4b4b4b;

$color-boton: #ff5400;

$color-hover: #1b3b6f;

$color-titulo: #faa307;

$color-articulo: #ced4da;


$redes: (
    "facebook": #3b5998,

    "twitter": #55acee,

    "instagram": #e4405f,

    "youtube": #cd201f,

    "whatsapp": #43d854,
    );


$fuente-principal: 'Roboto Slab', serif;

$fuente-secundaria: 'Montserrat', sans-serif;

$fuente-articulo: 'Noto Sans', sans-serif;

$fuente-titulo: 'Staatliches', cursive;