.preguntas__titulo {
    @extend %tytle;
}

.contacto {
    background-color: $color-titulo;
    border-radius: 14px;
    padding: 25px;
    display: grid;
    gap: 25px;
    color: white;
    margin-top: 10px;

    & p,
    & label,
    & ul {
        @include texto($fuente-principal , 1rem, 700, $color-letra , $sombra-letra , none, .2rem, center);
        margin: 0;
        padding: 0;

        @include tablet {
            font-size: 1.3rem;
        }
    }

    &__titulo {
        @include texto($fuente-principal , 1.6rem, 700, $color-letra , $sombra-letra , uppercase, .2rem, center);

        @include tablet {
            font-size: 2.1rem;
        }

        @include desktop {
            font-size: 2.5rem;
        }
    }

    &__detalles,
    &__formulario {
        display: grid;
        gap: 20px;
    }

    &__formulario--grupo {
        display: grid;
        gap: 3px;
    }

    &__redes--cont {
        display: flex;
        gap: 25px;
        justify-content: center;
    }

    &__redes--iconos i {
        font-size: 30px;

        @include tablet {
            font-size: 35px;
        }
    }

}

.r__fb {
    @extend %fb;
}

.r__tw {
    @extend %tw;
}

.r__it {
    @extend %it;
}

.r__wt {
    @extend %ws;
}