.portada {
    height: 70vh;
    background-image: url(../assets/img/fondos/fondo-1.jpg);
    background-position: center;
    background-size: cover;
    @include flex-center();

    &-titulo {
        @include texto($fuente-secundaria , 2rem, bolder, $color-letra , $sombra-letra , none, .1rem, center);

        @include tablet {
            font-size: 2.5rem;
        }

        @include desktop {
            font-size: 3rem;
        }
    }

    &-parrafo {
        @include texto($fuente-secundaria , 1.5rem, bolder, $color-letra , $sombra-letra , none, .1rem, center);

        @include tablet {
            font-size: 2rem;
        }

        @include desktop {
            font-size: 2.3rem;
        }
    }

    &-btn {
        @include flex-center();
    }

}

.novedades {
    &-titulo {
        @extend %tytle;
    }

    &-art {
        @include flex-art();

        @include movile{
            @include slider();
        }
    
        @include desktop{
            @include wrap();
        }
    }

    &-producto{
        @extend %articulo;
    }

    &-img {
        @extend %art-img;
    }

    &-titulo-producto {
        height: 50px;
        @extend %art-tytle;
    }

    &-cont-boton {
        @include flex-center();
    }

    &-precio {
        @extend %precio-tytle;
    }

    &-boton {
        @extend %art-btn;
    }

}
