%articulo {
    margin: 15px;
    width: 350px;
    height: 490px;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .2);
    @include display (block , center , center);
    background: $color-articulo;
    transition: all 600ms ease-in-out;

    @include tablet {
        width: 380px;
        height: 510px;
    }

    @include desktop {
        width: 400px;
        height: 570px;

        &:hover {
            transform: translateY(-.35rem) scale(1.02);
            box-shadow: 0 1px 10px 1px rgb(3, 3, 3);
        }
    }
}

%art-img{
        width: 350px;
        height: 350px;

        @include tablet {
            width: 380px;
            height: 360px;
        }

        @include desktop {
            width: 400px;
            height: 400px;
        }
    }
