//Formulario Modal
.acceder-form input {
    @include texto($fuente-principal , 1.25rem, 700, $color-letra-art , none , none, .1rem, center);
    border-radius: 0;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    margin: 10px 0;
    border-bottom: 1px solid #a9a9a9;
    padding: 5px 10px;
    caret-color: $color-principal;

    &:focus {
        box-shadow: inherit;
}
    
}

.acceder-form i{
    font-size: 2.188rem;
    margin-right: 10px;
}

//Formulario Contacto
.contacto__formulario input,
.contacto__formulario textarea {
    border-radius: 7px;
    border: none;
    height: 40px;
    padding: 5px 10px;
    caret-color: $color-principal;

    &:active,
    &:focus {
    outline: none;
}
}

.contacto__formulario textarea {
    height: auto;
    resize: none;
}

//Formulario Registro
.registro__formulario input {
    @include texto($fuente-principal , 1.125rem, 700, $color-letra-art , none , none, .2rem, center);
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid $titulo-registro;
    padding: 5px 10px;
    caret-color: $color-principal;

    @include tablet{
        font-size: 1.438rem;
        margin: 10px 30px;
    }

    &:active,
    &:focus {
    outline: none;
}
}

.cont__checkbox--1,
.cont__checkbox--2 {
    text-align: center;
}



