//Seccion Contacto
.contacto{
    @include tablet{
        &__titulo {
            grid-area: titulo;
        }
    
        &__detalles {
            grid-area: detalles;
        }
    
        &__formulario {
            grid-area: formulario;
        }
    
        &__redes {
            grid-area: redes;
        }
    
        & {
            grid-template:
                "titulo   formulario" auto 
                "detalles formulario" 1fr 
                "redes    formulario" auto 
                / 1fr          1fr;
            align-items: start;
        }
    }
    }

//Seccion Registro
    .registro {
        @include desktop {
    
            &__titulo {
                grid-area: titulo;
            }
    
            &__detalles {
                grid-area: detalles;
            }
    
            &__form {
                grid-area: formulario;
            }
    
            &__redes {
                grid-area: redes;
            }
    
            & {
                grid-template:
                    "titulo      titulo" auto 
                    "formulario  redes"  auto
                    / 1fr          1fr;
                align-items: start;
            }
    
        }
    }