.btn-primary {
    --bs-btn-bg: #e85d04;
    --bs-btn-border-color: #e85d04;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-bg: #1b3b6f;
    --bs-btn-hover-border-color: #1b3b6f;
    --bs-btn-focus-shadow-rgb: #e85d04;
    --bs-btn-active-color: #1b3b6f;
    --bs-btn-active-bg: #e85d04;
    --bs-btn-active-border-color: #e85d04;
    transition: .5s ease-in-out;

    & {
        @include texto($fuente-principal , 1.25rem , 700 , $color-letra , $sombra-letra , uppercase , none , center);
    border: 2px solid $color-boton;
    background-color: $color-boton;
    padding: 5px;
    border-radius: 5px;

    &:hover {
        @include desktop{
        border: 2px solid $color-hover;
        background-color: $color-hover;
        color: $color-letra;
        transition: .3s ease-in-out;
    }
    }
    }
}

