//Boton Primary
.btn-primary {
    @include texto($fuente-principal , 1.25rem, 700, $color-letra , $sombra-letra , uppercase, none, center);
    border: 2px solid $color-boton;
    background-color: $color-boton;
    padding: 5px;
    border-radius: 5px;
    transition: .5s ease-in-out;

    &:hover {
        @include desktop {
            border: 2px solid $color-hover;
            background-color: $color-hover;
            color: $color-letra;
            transition: .3s ease-in-out;
        }
    }
}